.end-section {
    margin-bottom: 50px !important;
    margin-top: 50px !important;
    .end-text {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
        align-items: center;

    .e-text {
        max-width: 650px;
        font-size: 20px;
        margin-bottom: 50px;
    }
 }
}