@import "tailwindcss";

@source "../views/";
@source "../../app/";

.site-header {
  background-color: #fff;

  .header-container {
    max-width: 1550px;
    margin: 0 auto;
    padding: 16px 40px;
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 30px;
    width: auto;
    display: block;
  }

  .main-nav {
    margin-left: auto;
    display: flex;
    gap: 55px;

    a {
      text-decoration: none;
      color: #111;
      font-size: 18px;
      font-weight: bold;
      padding: 20px 0;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-left: 30px;

    .icon {
      width: 20px !important;
      height: 20px !important;
      min-width: 20px !important;
      fill: #111;
      display: inline-block !important;
    }

    .cart {
      position: relative;
      display: flex;

      .cart-count {
        position: absolute;
        top: -10px;
        right: -10px;
        background: #e53935;
        color: #fff;
        font-size: 10px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}


.custom-footer {
  background-color: #e5635c;
  color: #ffffff;
  padding: 70px 40px;

  .footer-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
  }

  .footer-left p {
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
  }

  .footer-center {
    text-align: center;
    flex: 1;
    max-width: 500px;
    margin: 0 20px;

    h3 {
      font-weight: 500;
      margin-bottom: 25px;
      font-size: 18px;
    }

    .footer-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      input {
        width: 100%;
        padding: 12px 15px;
        border: none;
        color: #333;
        outline: none;
        background-color: white;
      }

      button {
        background-color: #000000;
        color: #ffffff;
        border: none;
        padding: 12px 50px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background-color: #333;
        }
        .menu-toggle{
          display: none;
          
        }
      }
    }
  }

  .footer-right {
    .social-links {
      display: flex;
      align-items: center;
      gap: 15px;

      svg {
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.main-content {
  padding: 40px;

  .front-page-container{
    padding: 15px;
  }
  .hero-section{
    display: flex;
    justify-content: center;

    .hero-content{
      display: flex;
      gap: 40px;
      align-items: center;
    }
    .hero-text{
      max-width: 528px;
      font-size: 30px;
      line-height: 36.31px;
      align-items: center;
      
    }

    }
  }

